[Unit]
Description=FT8 Transmitter Service
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/ft8
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target